.Search {
  width: 100%;

  .SearchIsNotFetchingResults {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .SearchSeparator {
      .emptySpace();
    }

    .SearchQuery {
      .inputBox();

      border: 1px solid @themeColor;
    }

    .SearchLocation {
      .inputBox();

      border: 1px solid @themeColor;
    }

    .SearchButton {
      #buttonCreator > .medium;
      padding-top: 5px;
    }
  }
}
