/* general */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 62.5%;
  min-width: 350px;
  min-height: 500px;
}
/* app */
.App {
  width: 100%;
}
.Separator {
  height: 24px;
}
.Line {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  border: solid 0.5px #ff875a;
}
/* buttons */
.GoBackToHomeButton {
  width: 40%;
  height: 35px;
  max-width: 250px;
  background: #ff875a;
  color: white;
  border: solid 1px #ff875a;
  font-size: 1.35rem;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.GoBackToHomeButton:hover {
  border-color: #1d771d;
  background: #1d771d;
  color: white;
  cursor: pointer;
}
/* header */
.Header {
  margin: 0 auto;
  margin-top: 20px;
  font-size: 2.975rem;
  color: #ff875a;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .Header {
    font-size: 4.375rem;
  }
}
@media (min-width: 1400px) {
  .Header {
    font-size: 4.55rem;
  }
}
/* search */
.Search {
  width: 100%;
}
.Search .SearchIsNotFetchingResults {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1400px) {
  .Search .SearchIsNotFetchingResults {
    width: 75%;
    max-width: 1400px;
    margin: 0 auto;
    flex-direction: row;
  }
}
.Search .SearchIsNotFetchingResults .SearchSeparator {
  height: 7px;
}
.Search .SearchIsNotFetchingResults .SearchQuery {
  width: 70%;
  max-width: 700px;
  padding-left: 4px;
  font-size: 1.35rem;
  outline: none;
  border: 1px solid #ff875a;
}
@media (min-width: 1400px) {
  .Search .SearchIsNotFetchingResults .SearchQuery {
    margin: 0 4px 0 0;
  }
}
.Search .SearchIsNotFetchingResults .SearchLocation {
  width: 70%;
  max-width: 700px;
  padding-left: 4px;
  font-size: 1.35rem;
  outline: none;
  border: 1px solid #ff875a;
}
@media (min-width: 1400px) {
  .Search .SearchIsNotFetchingResults .SearchLocation {
    margin: 0 4px 0 0;
  }
}
.Search .SearchIsNotFetchingResults .SearchButton {
  width: 40%;
  height: 35px;
  max-width: 250px;
  background: #ff875a;
  color: white;
  border: solid 1px #ff875a;
  font-size: 1.35rem;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
}
.Search .SearchIsNotFetchingResults .SearchButton:hover {
  border-color: #1d771d;
  background: #1d771d;
  color: white;
  cursor: pointer;
}
/* results */
.NoResults {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.NoResults .NoResultsText {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .NoResults .NoResultsText {
    font-size: 1.875rem;
  }
}
@media (min-width: 1400px) {
  .NoResults .NoResultsText {
    font-size: 3.125rem;
  }
}
.Results {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}
.Results .ResultsSearch {
  padding: 0 0 4px 0;
  font-size: 1.275rem;
  color: #ff875a;
  border-bottom: 2px solid #ff875a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media (min-width: 768px) {
  .Results .ResultsSearch {
    font-size: 2.125rem;
  }
}
@media (min-width: 1400px) {
  .Results .ResultsSearch {
    align-items: unset;
    justify-content: unset;
    font-size: 2.125rem;
  }
}
.Results .ResultsSearch .ResultsSearch__separator {
  margin: 0 7px;
  display: flex;
}
.Results .ResultsContainer {
  margin: 24px auto;
  height: 122px;
  border: 2px solid #ff875a;
}
.Result {
  display: flex;
  flex-direction: row;
}
.Result .ResultImg {
  margin: 0 7px 0 0;
}
.Result .ResultImg img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 7px solid #ff875a;
}
.Result .ResultInfo {
  margin: 7px 0 0 7px;
  flex-direction: column;
}
.Result .ResultInfo .ResultName {
  margin: 0 7px 7px 0;
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .Result .ResultInfo .ResultName {
    font-size: 1.95rem;
  }
}
@media (min-width: 1400px) {
  .Result .ResultInfo .ResultName {
    font-size: 1.3rem 2.5;
    display: inline;
  }
}
.Result .ResultInfo .ResultAddress {
  margin: 0 0 7px 0;
  font-size: 0.85rem;
}
@media (min-width: 768px) {
  .Result .ResultInfo .ResultAddress {
    font-size: 1.275rem;
  }
}
@media (min-width: 1400px) {
  .Result .ResultInfo .ResultAddress {
    font-size: 1.05rem;
    display: inline;
  }
}
.Result .ResultInfo .ResultSources {
  font-size: 0.85rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Result .ResultInfo .ResultSources .ResultSource__yelp {
  width: 35px;
  height: 35px;
  object-fit: contain;
}
@media (min-width: 768px) {
  .Result .ResultInfo .ResultSources .ResultSource__yelp {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
}
