.Results {
  width: 95%;

  margin: 0 auto;

  .ResultsSearch {
    font-size: @subTitleFontSize;

    color: @themeColor;
    border-bottom: solid 1px;
  }

  .ResultsSeparator {
    .emptySpace();
  }

  .ResultsContainer {
    // width: 90%;

    margin: 2px auto;
    // font-size: 1.4rem;
  }
}
