.Results {
  width: 95%;
  max-width: @maxWidthUI;

  margin: 0 auto;

  .ResultsSearch {
    font-size: @textFontSize;

    color: @themeColor;
    border-bottom: solid 1px;

    .flexCenter();
    flex-direction: row;

    @media @laptop {
      .flexUncenter();
    }

    .ResultsSearch__separator {
      margin: 0 7px;

      display: flex;
    }
  }

  .ResultsSeparator {
    .emptySpace();
  }

  .ResultsContainer {
    // width: 90%;

    margin: 40px auto;
    // font-size: 1.4rem;
  }
}
